[run]
source = django_tables2_reports
omit =
    test_project/*
    django_tables2_reports/tests.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    def parse_args