include README.rst
include CHANGES.rst
recursive-include django_tables2_reports *.py
recursive-include django_tables2_reports/templates *
recursive-include django_tables2_reports/static *
recursive-include django_tables2_reports/locale *
prune   test_project/